@config "../tailwind.config.js";

@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: "MyCustomFont";
  src: url("/font/Helvetica-Bold.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
    --font-Montserrat: "Montserrat", sans-serif;
    --font-Lato: "Lato", sans-serif;
    --color-prime: #F36F25;
    --color-sec: #09090B21;
    --color-gray: #484338;
    --color-brown: #a58251;
}